@model IEnumerable<HaitianRestaurantApp2.Models.Menu>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Menu</h1>

<p>
    <a class="btn btn-success" asp-action="Create"> <i class="fas fa-plus"></i> &nbsp; Create Item</a>
</p>

<div class="row ml-auto mb-2">
    <label class="mr-2">Filter by Category:</label>
    <div id="categoryDropdown"></div>
</div>

<table class="table table-striped table-hover table-bordered" width="100%" id="myMenu">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MenuId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MenuId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MenuId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/menu.js"></script>
}
